<div class="row">
  <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <div class="col-sm-2 hidden-xs">
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li class="sidebar-brand" ng-repeat="blog in blogs">
          <a ui-sref="blogs.blog">{{ blog.name }}</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-xs-12 col-sm-10">
    <div class="pull-right">
      <span ng-click="" class="fa fa-2x fa-plus-o"></span>
    </div>
    <div class="row" style="height:250px;">
      <div ui-ace="{
        useWrapMode : true,
        showGutter: false,
        theme:'twilight',
        mode: 'javascript',
        firstLineNumber: 5,
        onLoad: aceLoaded
      }"></div>
    </div>
  </div>
</div>