<div class="row">
  <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
    <h3 class="text-center">
      <div class="pull-right">{{ counter }}</div>
      Say the Letter
    </h3>
    <div class="round border-brand" style="height:400px;">
      <h1 class="text-center">
        <span ng-show="state == 'waiting'" class="fa fa-spinner fa-spin fa-5x"></span>
        
        <div ng-click="start()" ng-show="state == 'started'" style="font-size:350px;margin-top:-50px;">
          <span>{{ current }}</span>
        </div>
        
        <button ng-show="state == 'stopped'" ng-click="start()" class="btn btn-primary btn-lg fa-5x">Click to Start</button>
      </h1>
      <div class="row">
        <div class="col-xs-1" ng-repeat="i in [1,2,3,4,5,6,7,8,9,10]" ng-show="i > counter">
          <span class="full" style="height:15px;background-color:red;"></span>
        </div>
      </div>
    </div>
  </div>
</div>